ac-comphist.dat
auto-save-list
.session
frame-restore-parameters
el-get/
*.elc
*~
.mc-lists.el
elpa
eshell/
/libpeerconnection.log
bookmarks/
bookmarks
.emacs.keyfreq
.recentf
ede-projects.el
history
.emacs.desktop
.org-jekyll-setting.el
tramp
server/